
.contactWrapper {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-top:5rem;
    padding-bottom:1rem;
    height:auto;
    position:relative;
    z-index:3;
    background: #15161c;
    background-image:url('./back/img-8.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
      }

    @media screen and (max-width:768px) {
        .contactWrapper{
        padding-top:3rem;

    }}

    .contactWrapper:before{
        content:'';
        position:absolute;
        background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.9) 100%),
        linear-gradient(180deg, rgba(0,0,0,0.7) 0%, transparent 100%);
        top:0;
        left:0;
        right:0;
        bottom:0;
        

    }

    .contactWrapper h1 {
        color: #ffffff;
        font-size: 3rem;
        font-weight:500;
        margin-bottom:4rem;
        z-index:1;

    }   
    
    @media screen and (max-width:480px) {

        .contactWrapper h1 {
            font-size: 1.8rem
        }
    }

     .contactContainer {
        display:flex;
        flex-direction:column;
        width:50%;
        height:500px;
        position:relative;
        z-index:999;
        overflow:hidden;

    } 
        
        @media screen and (max-width:768px) {
            form .contactContainer{
                width:90%;
            }
            
        }

 .inputContact {
    width:100%;
    height:3rem;
    outline:none;
    border: none;
    background:transparent;
    color:#ffffff;
    font-size: 1.4rem;
    border-bottom: 1px solid #ffffff;
    padding: 0.8rem;
    margin:0 auto;
    margin-top:.5rem;
    margin-bottom:1.5rem;
    transition: all 0.5s ease-in-out;
   
        }

        .inputContact:focus{
            border-bottom: 1px solid #4b7a82;
            outline:none;
        }
    
        .inputContact::placeholder{
            color: #868e93
        }
    
        .inputContact:focus::placeholder {
          color: transparent;
        }
   
  .textareaContact {
    width:100%;
    height:auto;
    outline:none;
    border: none;
    background:transparent;
    color:#ffffff;
    font-size: 1.4rem;
    border-bottom: 1px solid #ffffff;
    padding: 0.8rem;
    margin:0 auto;
    margin-bottom:1rem;
    transition:all 0.5s ease-in-out;

}

    
.textareaContact:focus{
        border-bottom: 1px solid #4b7a82;
        outline:none;
    }

    .textareaContact::placeholder{
        color: #868e93
    }

    .textareaContact:focus::placeholder {
      color: transparent;
    }

 .contactButton {
    display:flex;
    justify-content:center;
    margin:0 auto;
    width:60%;
    background:transparent;
    border:1px solid #ffffff;
    color:#ffffff;
    padding:1.1rem 2.2rem;
    font-size: 1.5rem;
    transition:all 0.5s ease-in-out;
    cursor:pointer;
    margin-top:2rem;
    margin-bottom:1rem;

 }
    
    .contactButton:hover{
        background: #ffffff;
        color:#15161c;
    }

    @media screen and (max-width: 768px) {
        .contactButton{
        font-size: 1.3rem;
        }
  }

    @media screen and (max-width:600px){
        .contactButton {
            padding:.8rem 1.3rem;
        }
        
        
    }

